<% layout('layout/boilerplate') %>

<div class="container mt-4">
    <h1 class="text-center">Registered Recipes</h1>

    <div class="text-center mt-4 mb-3">
        <a href="/recipes/recipeRegister" class="btn btn-primary mb-4">
          Register New Recipe
        </a>
    </div>    
    
    <div class="row">
        <% recipes.forEach(function(recipe) { %>
            <div class="col-md-4 mb-4"> <!-- カードのサイズを調整 -->
                <div class="card shadow-sm"> <!-- 同じshadow-smを追加 -->
                    <!-- 画像を表示 -->
                    <% if (recipe.recipeImage) { %>
                        <img src="<%= recipe.recipeImage %>" class="card-img-top" alt="<%= recipe.recipeName %>">
                    <% } else { %>
                        <!-- 画像がない場合のプレースホルダー -->
                        <img src="/path/to/default-image.jpg" class="card-img-top" alt="Default Image">
                    <% } %>
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= recipe.recipeName %></h5>
                        <a href="/recipes/edit/<%= recipe._id %>" class="btn btn-primary btn-sm">Edit Recipe</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <!-- ページネーションを追加する場合 -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <% if (currentPage > 1) { %>
          <li class="page-item">
            <a class="page-link" href="/recipeHome?page=<%= currentPage - 1 %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
          <li class="page-item <%= currentPage === i ? 'active' : '' %>">
            <a class="page-link" href="/recipeHome?page=<%= i %>"><%= i %></a>
          </li>
        <% } %>
        <% if (currentPage < totalPages) { %>
          <li class="page-item">
            <a class="page-link" href="/recipeHome?page=<%= currentPage + 1 %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        <% } %>
      </ul>
    </nav>
</div>

